<table>
    <thead>
        <tr>
            <th>MemoriaDisponivel</th>
            <th>MemoriaUsada</th>
            <th>MemoriaTotalDoComputador</th>
            <th>MemoriaDisponivelPorcentagem</th>
            <th>MemoriaOcupadaPorcentagem</th>
            <th>CpuUsoMaquina</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ monitor?.memoriaDisponivel }}</td>
            <td>{{ monitor?.memoriaUsada }}</td>
            <td>{{ monitor?.memoriaTotalDoComputador }}</td>
            <td>{{ monitor?.memoriaDisponivelPorcentagem }}</td>
            <td>{{ monitor?.memoriaOcupadaPorcentagem }}</td>
            <td>{{ monitor?.cpuUsoMaquina }}</td>
        </tr>
    </tbody>
</table>

<br>
<br>

<table>
    <thead>
        <tr>
            <th>Nome do Processo</th>
            <th>Cpu</th>
            <th>Memoria</th>
            <th>Threads</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of monitor?.processos">
            <td>{{ item.nomeDoProcesso }}</td>
            <td>{{ item.cpuFormatado }}</td>
            <td>{{ item.ramFormatado }}</td>
            <td>{{ item.threads }}</td>
        </tr>
    </tbody>
</table>